{% extends 'layouts/base.html' %}
{% block content %}


<div class="starter-template">    

    <h3> TOP 10 COVID ACTIVE CASES (DISTRICT WISE)</h3>
    <table class="table table-bordered table-success">

        <thead class="thead-dark">
            <tr>
                <th scope="col">STATE</th>
                <th scope="col">DISTRICT</th>
                <th scope="col">ACTIVE</th>


            </tr>
        </thead>       
        
            
        <tbody>

           
            {% for i in ordered_districts %}
            <tr>               
               <!--td><a href={% url 'state_district'  %}>{{i.state}}</a></td-->
               
                <td>{{i.state}}</td>  

                <td>{{i.district}}</td>
                <td>{{i.active}}</td-->
                

            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>



{% endblock%}