{% extends 'layouts/base.html' %}
{% block content %}     
<canvas id="myChart" width="400" height="400"></canvas>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for key, value in counts.items %}'{{key}}',{% endfor %}],
          datasets: [ 
            {
            label: "active",
            fillColor: "blue",
            data: [{% for key, value in counts.items %}'{{value.active}}',{% endfor %}]
           
        },
        {
            label: "confiremd",
            fillColor: "red",
            data: [{% for key,value in counts.items %}'{{value.confirmed}}',{% endfor %}],
            
        },
        {
            label: "recovered",
            fillColor: "green",
            data: [{% for key,value in counts.items %}'{{value.recovered}}',{% endfor %}] ,
            
          },
        {
            label: "deceased",
            fillColor: "black",
            data: [{% for key,value in counts.items %}'{{value.deceased}}',{% endfor %}],
            
        }
        ]
        
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

      
      <div class="starter-template">
<div>              
                 
                   
            
         </div>  
         <h3> COVID DATA</h3>  
         <table class="table table-bordered table-success">
             
            <thead class="thead-dark">
              <tr>
                <th scope="col">STATE</th>
                <th scope="col">ACTIVE</th>
                <th scope="col">CONFIRMED</th>
                <th scope="col">DECEASED</th>
                
                <th scope="col">RECOVERD</th>
                
                
                
                
              </tr>
            </thead>
            <tbody>
                {% for key, value in counts.items %}
              <tr>
                <th scope="row">{{key}}</th>
                <td>{{value.active}}</td>
                <td>{{value.confirmed}}</td>
                <td>{{value.deceased}}</td>
                <td>{{value.recovered}}</td>
                
              </tr>
              
              
              {% endfor %}
            </tbody>
          </table>
         

        <hr/>
     
        
     
       
        

        
        <!--li>{{ covid_data }}</li-->
        
        </div>
{% endblock content %}

