{% extends 'layouts/base.html' %}
{% block content %}      
      
      
      <div class="starter-template">
<div>              
                 
                   
            
         </div>  
         <h3> COVID DATA</h3>  
         <table class="table table-bordered table-success">
             
            <thead class="thead-dark">
              <tr>
                <th scope="col">STATE</th>
                <th scope="col">ACTIVE</th>
                <th scope="col">CONFIRMED</th>
                <th scope="col">DECEASED</th>
                
                <th scope="col">RECOVERD</th>
                
                
                
                
              </tr>
            </thead>
            <tbody>
                {% for key, value in counts.items %}
              <tr>
                <th scope="row">{{key}}</th>
                <td>{{value.active}}</td>
                <td>{{value.confirmed}}</td>
                <td>{{value.deceased}}</td>
                <td>{{value.recovered}}</td>
                
              </tr>
              
              
              {% endfor %}
            </tbody>
          </table>
         

        <hr/>
     
        
     
       
        

        
        <!--li>{{ covid_data }}</li-->
        
        </div>
{% endblock content %}

