{% extends 'layouts/base.html' %}
{% block content %}
<canvas id="myChart" width="400" height="400"></canvas>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for total in state_total_data %}'{{total.state}}',{% endfor %}],
  datasets: [
    {
      label: "active",
      fillColor: "blue",
      data: [{% for total in state_total_data %}'{{total.active__sum}}', {% endfor %}]
           
        },
  {
    label: "confiremd",
      fillColor: "red",
        data: [{% for total in state_total_data %} '{{total.confirmed__sum}}', {% endfor %}],
            
        },
  {
    label: "recovered",
      fillColor: "green",
        data: [{% for total in state_total_data %} '{{total.recovered__sum}}', {% endfor %}] ,
            
          },
  {
    label: "deceased",
      fillColor: "black",
        data: [{% for total in state_total_data %} '{{total.deceased__sum}}', {% endfor %}] ,
            
      
        }
        ]
        
      },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
  });
</script>


<div class="starter-template">
  <div>



  </div>
  <h3> COVID DATA</h3>
  <table class="table table-bordered table-success">

    <thead class="thead-dark">
      <tr>
        <th scope="col">STATE</th>
        <th scope="col">ACTIVE</th>
        <th scope="col">CONFIRMED</th>
        <th scope="col">DECEASED</th>

        <th scope="col">RECOVERD</th>




      </tr>
    </thead>
    <tbody>
      {% for total in state_total_data %}
      <tr>
        
        <th scope="row"><a href="{% url state %}?state={{total.state}}">{{total.state}}</a></th>
        <th scope="row">{{total.state}}</th>
        
        <td>{{total.active__sum}}</td>
        <td>{{total.confirmed__sum}}</td>
        <td>{{total.recovered__sum}}</td>
        <td>{{total.deceased__sum}}</td-->

      </tr>


      {% endfor %}
    </tbody>
  </table>


  <hr />







  <!--li>{{ covid_data }}</li-->

</div>
{% endblock content %}